.text-center{
    text-align: center;
background-color: violet;
}
.bg-red{
    background-color:skyblue;
    border-width : 2px;
border-style : solid; 
border-color : black;


}
.mx-auto{
    margin:auto;
}
.flex{
display:flex;
}
.flex-col{
flex-direction: column;
}
.item{
    align-items:center;
}